<div class="container box">
    
    {{#if feedbackSi}}
    <div class="alert alert-primary" role="alert">
        {{feedbackSi}}
    </div>
  
    {{else}}

    <h2>EMPRESAS PARTICIPANTES</h2>
    <h4>Tilde las empresas que cotizaron y luego presiones aceptar.</h4>

    <form action="/feedback/{{nroExp}}" method="POST">



    <table class="table">
  <thead>
    <tr>
        <th scope="col">Cotizo?</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Comentarios</th>
        <th scope="col"> Accion </th>
        <th scope="col"> Accion </th>
    </tr>
  </thead>
      {{#each expedientes}}
  <tbody>
      
    <tr>
      <th><input type="checkbox" name="contesto" value="{{nombre}}"></th>
      <td>{{nombre}}</td>
      <td><input type="text"></td>
      <td><button type="button" class="btn btn-primary">Enviar</button></td>
      <td><button type="button" class="btn btn-danger">Block!</button></td>
    </tr>
    
  </tbody>
    {{/each}}
</table>


    {{!-- <li class="list-group-item"><input type="checkbox" name="contesto" value="{{nombre}}"> - {{nombre}} - Nota: <input type="text"></li>  --}}

    <input type="hidden" value="{{nroExp}}" name="nroExp">
    <input class="btn btn-dark" type="submit">
    </form>

    {{/if}}
 </div>