{{!-- BUSCADOR DE EMPRESAS POR RAMO --}}
<div class="container box">
{{#if empresa}}
    {{#each resultado}}
    <div class="container">
        <form  action="../modificar/{{nombre}}/update" method="post">

        <div class="form-group">
            <label for="idNombre">Nombre o Razon social:</label>
            <input type="text" value="{{nombre}}" name="nombre" class="form-control" id="idNombre" required >
        </div>

        <div class="form-group">
            <label for="idCuit">CUIT:</label>
            <input type="text" value="{{cuit}}" name="cuit" class="form-control" id="idCuit" onblur="borrarGuion()" readonly>
        </div>

        <div class="form-group">
            <label for="idCorreo">Correo Electronico:</label>
            <input type="mail" value="{{correo}}" name="correo" class="form-control" id="idCorreo" required >
            <small id="emailHelp" class="form-text text-muted">Puede ingresar mas de una direccion separando con punto y coma.</small>
        </div>

        <div class="form-group">
            <label for="idTel">Telefonos:</label>
            <input type="text" value="{{telefono}}" name="telefono" class="form-control" id="idTel" required >
        </div>

        <div class="form-group">
            <label for="idContacto">Persona de contacto:</label>
            <input type="text" value="{{contacto}}" name="contacto"  class="form-control" id="idContacto" >
        </div>

        <div class="form-group">
            <label for="irRamo">Ramos que vende:</label>
            <input type="text" value="{{ramo}}" name="ramo" class="form-control" id="idRamo" >
            <small id="emailHelp" class="form-text text-muted">Separar los distintos ramos con coma.</small>
        </div>
            <input type="submit" name="Cargar" value="Modificar empresa" class="btn-block btn btn-dark" id="botonModificar">

        </form>
    </div>

    {{/each}}
</div>
{{else}}
    <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Busque la empresa que desea modificar por nombre</a>

    <form class="form-inline ui-widget" action="/modificar" method="POST">
        <input class="form-control mr-sm-2" type="search" name="empresa" aria-label="Search" id="buscadorModif" autocomplete="off" required>
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
    </nav>
{{/if}}

</div>
<script src="../../javascripts/jquery/jquery.slim.min.js"></script>
<script src="../../javascripts/bootstrap/bootstrap-js.js"></script>
<script src="../../javascripts/jquery/jquery.js"></script>
<script src="../../javascripts/jquery/jquery-ui.js"></script>
<script src="../../javascripts/vistas/modificarJS.js"></script>