<div class="container box">




{{!-- PRESENTACION DE LOS PROVEEDORES EN PANTALLA --}}
{{#if mensaje}}
<br><div class="alert alert-danger" role="alert">
  <strong>Cuidado!,</strong> No hay proveedores en este rubro.
</div>
{{/if}}

{{#if productos}}
<div class="contenedor">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Empresa</th>
      <th scope="col">Correo</th>
      <th scope="col">Telefono</th>
      <th scope="col">Contacto</th>
      <th scope="col">% Part.</th>
    </tr>
  </thead>
  {{#each productos }}
  <tbody>
    <tr>
      <th>{{nombre}}</th>
      <td>{{correo}}</td>
      <td>{{telefono}}</td>
      <td>{{contacto}}</td>
      <td><span class="limitarDecimales">{{prom}}</span>% - ({{invitado}})</td> 
    </tr>
  </tbody>

{{/each}}
</table>
</div>
{{else}}
  {{!-- BUSCADOR DE EMPRESAS POR RAMO --}}
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Ingrese el rubro de empresas que desea buscar: </a>
    <form class="form-inline ui-widget">
      <input class="form-control mr-sm-2" type="search" aria-label="Search" id="tags" autocomplete="off" >
    </form>
  </nav>
{{/if}}
</div>

<script src="../../javascripts/jquery/jquery.js"></script>
<script src="../../javascripts/jquery/jquery-ui.js"></script>
<script src="../javascripts/vistas/ver-js.js"></script>